/* Header Styles */

header {
    display: flex;
    width: 1500px;
    justify-content: space-between;
    align-items: center;
    padding: 62px 62px 150px 62px;
}

.header-span {
    font-size: 32px;
    font-weight: bold;
    color: #3D37F1;
    font-family: 'Lato';

}

.header-span2 {
    font-weight: lighter;
    color: #4B647E;
} 

.ul {
    display: flex;
    width: 581px;
    justify-content: space-between;

}
 

a {
    font-family: 'Lato';
    font-size: 20px;
    font-weight: bold;
    color: #3D37F1;
    text-transform: uppercase;
}

/* section 2 */

.section-1 {
    display: flex;
    width: 1500px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 230px;
}

.img1 {

    width: 640px;
}


.div1-1 {
    display: flex;
    flex-direction: column;

}

.header-1 {
    
    font-family: 'Lato';
    font-size: 64px;
    font-weight: bold;
    color: #534D4D;
    width: 480px;
    margin-bottom: 33px;

}

.p1 {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: #534D4D;
    height: 82px;
    margin-bottom: 85px;


}


.div2-1 {
    background: #3D37F1;
    border-radius: 38px;
    width: 226px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.span1 {
    
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    margin-left: 20px;

}

.wave {
    width: 25px;
    height: 25px;
}


/* Section 3 */

.section-3 {

    background: #FBFCFD;
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header-3 {
    font-family: 'Lato';
    font-size: 20px;
    font-weight: bold;
    color: #3D37F1;
    text-transform: uppercase;
    margin-top: 87px;
    margin-bottom: 17px;
} 

.p1-3 {
    font-family: 'Lato';
    font-size: 40px;
    color: #5A5454;
    margin-bottom: 21px;
}

.p2-3{
    font-family: 'Lato';
    font-size: 18px;
    color: #747474;
    width: 712px;
    text-align: center;
    margin-bottom: 67px;
}

.main3 {
    display: flex;
    flex-wrap: wrap;
    width: 1169px;
    justify-content: space-between;

}


.list {
    background: cornflowerblue;
    width: 370px;
    height: 451px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list:nth-child(1) {
    background: #FBBA77;
    margin-bottom: 60px;
}

.list:nth-child(2) {
    background: #41EAE3;
    margin-bottom: 60px;
}

.list:nth-child(3) {
    background: #69529F;
    margin-bottom: 60px;
}

.list:nth-child(4) {
    background: #4386D2;
    margin-bottom: 130px;
}

.list:nth-child(5) {
    background: #A5A2F6;
    margin-bottom: 130px;
}

.list:nth-child(6) {
    background: #FF8088;
    margin-bottom: 130px;
}

.icon {
    width: 100px;
    height: 100px;
    margin-top: 88px;
    margin-bottom: 57px;
}


.h4 {
    font-family: 'Lato';
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 13px;

}

.p3-3 {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 328px;
    text-align: center;
    margin-bottom: 13px;
}

.a-div {
    border-radius: 23px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    width: 131px;
    height: 45px;
    display: flex;   
}

.a3 {
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    text-transform: capitalize;
    
}

.a-div:hover {
    background: #FFFFFF;
    color: #4B647E;
}


.a-div:hover .a3 {
    color: #4B647E;
}